<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="margin: 30px 30px 30px 30px;">
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Role</th>               
                </tr>
                </thead>
                <tbody>
                    <% data.forEach(el => { %>
                        <tr>
                            <td><%= el.userName %></td>
                            <td><%= el.password %></td>
                            <td><%= el.role %></td>
                            <td></td>
                            <td></td>
                        </tr>
                  <% }); %>
                </tbody>
              </table>
    </div>
</body>
</html>
